.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000011;
}

.login-form {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.chips-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.chip {
  background-color: #1e3c66;
  color: white;
  padding: 10px;
  border-radius: 20px;
  font-size: 14px;
  display: inline-block;
}

.input-field {
  padding: 10px;
  margin-bottom: 10px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.submit-btn {
  padding: 10px 20px;
  background-color: #1e3c66;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #45628b;
}

.graph-container {
  text-align: center;
  margin-top: 20px;
}

/* Popup Styles */
.person-popup {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000;
  overflow-y: auto;
  transition: transform 0.3s ease;
}

.close-btn {
  background-color: #1e3c66;
  border: none;
  color: white;
  width: 40px; /* Set equal width */
  height: 40px; /* Set equal height */
  border-radius: 50%; /* Make it a perfect circle */
  position: fixed; /* Keep it fixed in the top-right corner */
  top: 10px; /* Adjust the top position */
  right: 10px; /* Adjust the right position */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
}


/* Mobile Fullscreen Styles */
@media (max-width: 768px) {
  .person-popup {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: none;
  }

  .close-btn {
    top: 20px;
    right: 20px;
  }
}
